!!!html
%html
	%head
		%title
			Curriculum-INICIO
		%meta{:charset=>"utf-8"}
		%meta{:lang=>"es"}
		%meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}
		%link{:rel=>"stylesheet",:href=>"css/style.css"}
		%script{:type=>"text/javascript",:src=>"js/CurriculumSample.js"}
	%body
		%h1
			CurriculumSample
