API

    Getting Started
    Express Integration
    Reference
    Migrating to Pug 2

Language Reference

    Attributes
    Case
    Code
    Comments
    Conditionals
    Doctype
    Filters
    Includes
    Inheritance: Extends and Block
    Interpolation
    Iteration
    Mixins
    Plain Text
    Tags

Getting Started
Installation ¶

Pug is available via npm:

$ npm install pug

Overview ¶

The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as argument. Call that resultant function with your data, and voilà! it will return a string of HTML rendered with your data.

The compiled function can be re-used, even for different sets of data.

//- template.pug
p #{name}'s Pug source code!

const pug = require('pug');

// Compile the source code
const compiledFunction = pug.compileFile('template.pug');

// Render a set of data
console.log(compiledFunction({
  name: 'Timothy'
}));
// "<p>Timothy's Pug source code!</p>"

// Render another set of data
console.log(compiledFunction({
  name: 'Forbes'
}));
// "<p>Forbes's Pug source code!</p>"
