html body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:arial;
	background:rgb(255,255,255);
}
body>*
{
-webkit-animation-name:slidein;
	-webkit-animation-duration:3s;
}
.navegador
{
	top:0;
	left:0;
	position:fixed;
	margin:0;
	z-index:900;
	padding:1em;
	padding-left:15em;
	width:100%;
	height:10%;
	background-color:#5FAAFF;
}
.navegador>a
{
	margin:0.5em 0.5em 0 0.5em;
	display:inline-block;
	background-color:#5FAAFF;
	color:#000000;
	text-decoration:none;
	font-size:2em;
}

#About
{
	/*margin-top:5em;
	border-radius:0 0 0em 0em;*/
	box-shadow:0em 0.5em 1em rgb(50,50,50);
	padding:0;
	height:auto;
	width:auto;
	color:#FFFFFF;
	background-color:#5FAAFF;
}
#About > *
{

	display:inline-block;
}
#Profile
{
	float:left;
	padding:0;
	margin:0 1em 0 0em;
}
#Profile > img
{
	border-radius:0 0 1em 1em;
	width:10em;
	box-shadow:0em 0.5em 1em rgb(50,50,50);
	height:13em;
}

.Capitals
{
	margin:0 1em 0 1em;
	padding:0.5em;
	
}
h1
{	font-size:2em;}
h2
{	font-size:1em;}

.NormalInfo ul li img
{
	width:1em;
	height:1em;
}
ul
{list-style-type:none;}

.NormalInfo ul li
{padding:5px;}


#Experience ul li, #Studies ul li
{
	border-radius:1em 1em 1em 1em;
	box-shadow:0em 0.5em 1em rgb(50,50,50);
	padding:1em;
	margin:2em;
}
#Experience, #Skills, #Studies
{
	text-align:center;
	
	
}
.habil
{
display:inline-block;
	border-radius:1em 1em 1em 1em;
	box-shadow:0em 0.5em 1em rgb(50,50,50);
	padding:1em;
	margin:1em 5em 0em 5em ;
}
@-webkit-keyframes slidein
{
	from
	{
		opacity:0;
		transform:translate(-100%,0);
	}
	
	to
	{
		opacity:1;
		transform:translate(0%,0%);
	}
}
