html
{
padding:0;
margin:0;
}
*
{
    font-family:Helvetica;
    font-size: 25px;
}
#Cuerpo
{
    background-color: #435055;
    padding:50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 30px;
    color:#EEEEEE;
}
body
{
    background-color:#27323A;
    text-align: center;
    font-weight: 100;
    
}
body>*
{
    margin:5px;
}
#Navegador>ul>li
{
    list-style: none;
    background-color: #27323A;
    display: inline-block;
    padding: 10px;
    margin:10px;
    border-radius: 30px;
}
a
{
    color:#435055;
    text-decoration: none;
    margin: 0;
    padding: 30px;
}
#cabezal
{
    padding: 20px;
    margin:30px;
    background-color: #29A19C;
    color: #EDEBCA;
    border-radius: 20px;
   
}
#Imagen
{
    width: 30px;
    height: 30px;
}
footer
{
    margin:10px;
    /*background-color: #A3F7BF;*/
    color:#A3F7BF;
}
.Boton:hover>a
{
    color:white;    
}
.Boton:hover
{
    opacity: 0.5;
    transform:scale(1.3,1.3);
}
.Pregunta
{
  
    width: 200px;
    height:100px ;
}
label
{
    text-align: left;
    border-radius: 20px;
    background-color: #27323A;
    display:block;
    margin: 20px;
    padding: 20px;
}
.seccion
{
    text-align: left;
    border-radius: 20px;
    padding: 30px;
    margin:10px;
    color:#FFFFFF;
    background-color:#27323A ; 
}
ol
{
    margin: 30px;
}
#Diez
{
    height: 400px;
    width: 600px;
}
#Ard
{
  
   padding: 30px;
    height: 300px;
    width: 400px;
    float: left;
}
#mc
{
    padding: 25px;
    height: 150px;
    width: 150px;
    float: left;
}
h1
{
    font-weight: 200;
    font-size: 25px;
}
h2
{
    font-weight: 200;
    font-size: 18px;
}
ul
{
    /*padding: 5px;*/
   
 
}
#p1
{
     height: 400px;
    width: 600px;
}
#Fritz
{
    height: 400px;
    width: 600px;
}

kbd
{
    margin:10px;
    padding:5px;
    background-color:#FFFFFF;
    color:black;
    border-style: solid;
    border-color: black;
}

video
{
    text-align: center;
  
}
